.view {
    position: relative;
    display: flex;
    background: #000000;    
    height: 100%;

    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.loadingIcon {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;    
    &.visible {
        display: inline;
    }
}

.preview {
    height: 100%;
    &.dim {
        filter: brightness(0.5);
    }    
}

.captureButton {
    all: unset;    
    --opacity-level: 0.5;

    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 20px;
    left: calc(50% - 40px);
    border-radius: 50%;
    background: rgba(255,255,255, var(--opacity-level));
    text-align: center;
    border: 4px solid rgba(0,0,0,0);

    display: flex;
    padding: 20px;    
    img {
        opacity: var(--opacity-level);
    }
    &:active {
        --opacity-level: 0.8;
    }
    &:focus {        
        border: 4px solid blue;
    }
}